# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

#firebase credentials
firebaseConfig.js

# Environment
.env

# Service account secrets in json
mert-app-5ce19-firebase-adminsdk-jtvtl-baa5a741f3.json


.DS_Store
